{
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-boolean-value": ["never"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}]
  }
}
