{
  "extends": ["standard", "standard-jsx"],
  "plugins": ["eslint-plugin-jest"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": 1,
    "camelcase": 1,
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}]
  },
  "env": {
    "jest/globals": true
  }
}
