html {
  background-color: #1c242a;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b333a;
  color: #fff;
}

h1 {
  font-size: 21px;
  font-weight: normal;
  margin: 0;
  padding: 15px 20px 35px;
  border-bottom: 1px solid #49525a;
}

.pad {
  padding: 20px;
}

button {
  cursor: pointer;
}

.highcharts-credits {
  display: none !important;
}
