html {
  background-color: #2b333a;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b333a;
  color: #eee;
}

button {
  cursor: pointer;
}

.highcharts-credits,
.highcharts-contextbutton {
  display: none !important;
}

input::selection {
  background: #46b8e7;
}

.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~.box:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: #1377af !important
}
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background-color: #222;
}

.ui.inverted.input > input {
  background-color: rgba(0,0,0,.15);
  color: #fff;
}
.ui.inverted.icon.input > i.icon {
  color: #fff;
}
